In [293]:

print("hello")

hello

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
#load data in dataframe
data_train =pd.read_csv("./csv_files/credit score classification/train.csv")
data_test =pd.read_csv("./csv_files/credit score classification/test.csv")

C:\Users\Smriti\AppData\Local\Temp\ipykernel_4544\3432185909.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_train =pd.read_csv("./csv_files/credit score classification/train.csv")

In [3]:
#copy the dataframe
df_train = data_train.copy()
df_test = data_test.copy()
df_train_1 =data_train.copy()

In [4]:
df_train.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [297]:
df_train['Payment_Behaviour'].unique()

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments', '!@9#%8',
       'High_spent_Large_value_payments'], dtype=object)

In [298]:
anomalous_values = df_train[data_train['Payment_Behaviour'].isin(['!@9#%8'])]

print(f"Number of anomalous entries: {len(anomalous_values)}")

Number of anomalous entries: 7600

In [299]:
df_train['Payment_Behaviour'].replace('!@9#%8', 'Unknown', inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\1354906256.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Payment_Behaviour'].replace('!@9#%8', 'Unknown', inplace=True)

In [300]:
df_train['Payment_Behaviour'].unique()

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments', 'Unknown',
       'High_spent_Large_value_payments'], dtype=object)

In [301]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [302]:
df_train.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

## EDV (Data Cleaning)

### Data Cleaning for Train Data

In [303]:
df_train_1.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [304]:
df_train.shape

(100000, 28)

In [305]:
df_train.duplicated().sum()

0

In [306]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [349]:
df_train.isnull().sum()

ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [308]:
df_train.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [309]:
df_train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [310]:
columns_to_string = [
    'ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', 'Type_of_Loan',
    'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour', 'Credit_Score'
]
df_train[columns_to_string] = df_train[columns_to_string].astype(str)

# Convert specified columns to float type (handle errors with coercion)
columns_to_float = [
    'Annual_Income', 'Changed_Credit_Limit', 'Outstanding_Debt', 
    'Monthly_Balance', 'Amount_invested_monthly'
]
df_train[columns_to_float] = df_train[columns_to_float].apply(pd.to_numeric, errors='coerce')

# Convert specified columns to integer type (use Int64 to handle NaN values)
columns_to_int = ['Age', 'Num_of_Loan', 'Num_of_Delayed_Payment']
df_train[columns_to_int] = df_train[columns_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')

# Verify the changes
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      100000 non-null  object
 4   Age                       95061 non-null   Int64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             93020 non-null   float64
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               95215 non-null   Int64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    90254 non-null   Int64
 16  Changed_Credit_Limit      97909 non-null   float64
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          98991 non-null   float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   91216 non-null   float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98791 non-null   float64
 27  Credit_Score              100000 non-null  object
dtypes: Int64(3), float64(9), int64(4), object(12)
memory usage: 21.6+ MB
None

In [311]:
df_train.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,95061.0,9.302000e+04,84998.000000,100000.000000,100000.00000,100000.000000,95215.0,100000.000000,90254.0,97909.000000,98035.000000,98991.000000,100000.000000,100000.000000,91216.000000,98791.000000
mean,110.934505,1.785790e+05,4194.170850,17.091280,22.47443,72.466040,2.780339,21.068780,31.033051,10.389025,27.754251,1426.503700,32.285173,1403.118217,195.539456,402.551258
std,689.407864,1.442878e+06,3183.686167,117.404834,129.05741,466.422621,62.50094,14.860104,226.955758,6.789496,193.177339,1155.045753,5.116875,8306.041270,199.564527,213.925499
min,-500.0,7.005930e+03,303.645417,-1.000000,0.00000,1.000000,-100.0,-5.000000,-3.0,-6.490000,0.000000,0.230000,20.000000,0.000000,0.000000,0.007760
25%,24.0,1.943560e+04,1625.568229,3.000000,4.00000,8.000000,1.0,10.000000,9.0,5.320000,3.000000,566.080000,28.052567,30.306660,72.236692,270.106630
50%,33.0,3.755074e+04,3093.745000,6.000000,5.00000,13.000000,3.0,18.000000,14.0,9.400000,6.000000,1166.370000,32.305784,69.249473,128.954538,336.731225
75%,42.0,7.284338e+04,5957.448333,7.000000,7.00000,20.000000,5.0,28.000000,18.0,14.870000,9.000000,1948.200000,36.496663,161.224249,236.815814,470.262938
max,8698.0,2.419806e+07,15204.633333,1798.000000,1499.00000,5797.000000,1496.0,67.000000,4397.0,36.970000,2597.000000,4998.070000,50.000000,82331.000000,1977.326102,1602.040519

In [312]:
#removing null values in Name column
df_train.dropna(subset=['Name','Monthly_Balance','Num_Credit_Inquiries'], inplace=True)

In [313]:
#Handling Age data
df_train['Age'] = df_train['Age'].replace('<NA>', pd.NA)
df_train['Age'] = pd.to_numeric(df_train['Age'], errors='coerce')
median_age = df_train['Age'].median()
df_train['Age'].fillna(median_age, inplace=True)
# min_age, max_age = 0, 100
# df_train.loc[(df_train['Age'] < min_age) | (df_train['Age'] > max_age), 'Age'] = median_age

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\1599259466.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Age'].fillna(median_age, inplace=True)

In [314]:
#Handling Num_0f_Loan
df_train['Num_of_Loan'] = df_train['Num_of_Loan'].replace('<NA>', pd.NA)
df_train['Num_of_Loan'] = pd.to_numeric(df_train['Num_of_Loan'], errors='coerce')
median_num_of_loans = df_train['Num_of_Loan'].median()
df_train['Num_of_Loan'].fillna(median_num_of_loans, inplace=True)
# min_loans = 0
# df_train.loc[(df_train['Num_of_Loan'] < min_loans), 'Num_of_Loan'] = median_num_of_loans

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\2821941102.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Num_of_Loan'].fillna(median_num_of_loans, inplace=True)

In [315]:
#filling null values with median
df_train['Monthly_Inhand_Salary'].fillna(df_train['Monthly_Inhand_Salary'].median(), inplace=True)
df_train['Outstanding_Debt'].fillna(df_train['Outstanding_Debt'].median(), inplace=True)
df_train['Annual_Income'].fillna(df_train['Annual_Income'].median(), inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\3183985615.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Monthly_Inhand_Salary'].fillna(df_train['Monthly_Inhand_Salary'].median(), inplace=True)
C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\3183985615.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Outstanding_Debt'].fillna(df_train['Outstanding_Debt'].median(), inplace=True)
C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\3183985615.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Annual_Income'].fillna(df_train['Annual_Income'].median(), inplace=True)

In [316]:
description = df_train['Num_of_Delayed_Payment'].describe()
print(description)

count       87431.0
mean      31.021331
std      226.609688
min            -3.0
25%             9.0
50%            14.0
75%            18.0
max          4397.0
Name: Num_of_Delayed_Payment, dtype: Float64

In [317]:
df_train['Num_of_Delayed_Payment'] = df_train['Num_of_Delayed_Payment'].replace('<NA>', pd.NA)
df_train['Num_of_Delayed_Payment'] = pd.to_numeric(df_train['Num_of_Delayed_Payment'], errors='coerce')

median_num_of_delayed_payments = df_train['Num_of_Delayed_Payment'].median()
df_train['Num_of_Delayed_Payment'].fillna(median_num_of_delayed_payments, inplace=True)

# min_delayed_payments, max_delayed_payments = 0, 2500
# df_train.loc[(df_train['Num_of_Delayed_Payment'] < min_delayed_payments) | (df_train['Num_of_Delayed_Payment'] > max_delayed_payments), 'Num_of_Delayed_Payment'] = median_num_of_delayed_payments

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\1035697409.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Num_of_Delayed_Payment'].fillna(median_num_of_delayed_payments, inplace=True)

In [318]:
#filling the null values with mode
df_train['Type_of_Loan'].fillna(df_train['Type_of_Loan'].mode()[0], inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\1671571304.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Type_of_Loan'].fillna(df_train['Type_of_Loan'].mode()[0], inplace=True)

In [319]:
df_train['Changed_Credit_Limit'].fillna(df_train['Changed_Credit_Limit'].mean(), inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\2136929104.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Changed_Credit_Limit'].fillna(df_train['Changed_Credit_Limit'].mean(), inplace=True)

In [320]:
def age_to_months(age_str):
    if pd.isna(age_str):
        return np.nan
    years, months = 0, 0
    parts = age_str.split(' and ')
    for part in parts:
        if 'Years' in part:
            years = int(part.split(' Years')[0])
        elif 'Months' in part:
            months = int(part.split(' Months')[0])
    return years * 12 + months
df_train['Credit_History_Age'] = df_train['Credit_History_Age'].apply(age_to_months)

In [321]:
mean_age = df_train['Credit_History_Age'].mean()
df_train['Credit_History_Age'].fillna(mean_age, inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\42669047.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Credit_History_Age'].fillna(mean_age, inplace=True)

In [322]:
df_train['Amount_invested_monthly'].unique()

array([ 80.41529544, 118.28022162,  81.69952126, ...,  24.02847745,
       251.6725822 , 167.16386516])

In [323]:
mean_investment = df_train['Amount_invested_monthly'].mean()
df_train['Amount_invested_monthly'].fillna(mean_investment, inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\4016004489.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Amount_invested_monthly'].fillna(mean_investment, inplace=True)

In [324]:
df_train.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [325]:
df_train['Credit_Score'].unique()

array(['Good', 'Standard', 'Poor'], dtype=object)

## Data Cleaning for Test Data

In [326]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [327]:
df_test.shape

(50000, 27)

In [328]:
df_test.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [329]:
df_test.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

In [330]:
df_test.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                        5015
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [331]:
columns_to_string = [
    'ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', 'Type_of_Loan',
    'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour'
]
df_test[columns_to_string] = df_test[columns_to_string].astype(str)

# Convert specified columns to float type (handle errors with coercion)
columns_to_float = [
    'Annual_Income', 'Changed_Credit_Limit', 'Outstanding_Debt', 
    'Monthly_Balance', 'Amount_invested_monthly'
]
df_test[columns_to_float] = df_test[columns_to_float].apply(pd.to_numeric, errors='coerce')

# Convert specified columns to integer type (use Int64 to handle NaN values)
columns_to_int = ['Age', 'Num_of_Loan', 'Num_of_Delayed_Payment']
df_test[columns_to_int] = df_test[columns_to_int].apply(pd.to_numeric, errors='coerce').astype('Int64')

# Verify the changes
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      50000 non-null  object
 4   Age                       47523 non-null  Int64
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             46480 non-null  float64
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               47564 non-null  Int64
 13  Type_of_Loan              50000 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    45075 non-null  Int64
 16  Changed_Credit_Limit      48941 non-null  float64
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          49509 non-null  float64
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   45554 non-null  float64
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49432 non-null  float64
dtypes: Int64(3), float64(9), int64(4), object(11)
memory usage: 10.4+ MB
None

In [348]:
df_test.isnull().sum()

ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
dtype: int64

In [333]:
df_test['Age'].unique()

<IntegerArray>
[  23,   24, <NA>,   28,   35,   55,   22,   31,   32, 1694,
 ...
 6652, 2200, 8361,  459, 3054, 5586,  326, 7910, 5826, 4975]
Length: 892, dtype: Int64

In [334]:
#Handling Age data
df_test['Age'] = df_test['Age'].replace('<NA>', pd.NA)
df_test['Age'] = pd.to_numeric(df_test['Age'], errors='coerce')
median_age = df_test['Age'].median()
df_test['Age'].fillna(median_age, inplace=True)
# min_age, max_age = 0, 100
# df_test.loc[(df_test['Age'] < min_age) | (df_test['Age'] > max_age), 'Age'] = median_age

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\121724058.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Age'].fillna(median_age, inplace=True)

In [335]:
df_test.dropna(subset=['Name','Monthly_Balance','Num_Credit_Inquiries'], inplace=True)

In [336]:
df_test['Num_of_Loan'].unique()

<IntegerArray>
[   4,    1,    3, 1381, -100,    0,    2,    7,    5,    6,
 ...
  534,  870,  418, 1436, 1352,  594,   25, 1442,  939,  172]
Length: 236, dtype: Int64

In [337]:
df_test['Num_of_Loan'] = df_test['Num_of_Loan'].replace('<NA>', pd.NA)
df_test['Num_of_Loan'] = pd.to_numeric(df_test['Num_of_Loan'], errors='coerce')
median_num_of_loans = df_test['Num_of_Loan'].median()
df_test['Num_of_Loan'].fillna(median_num_of_loans, inplace=True)
# min_loans =0 #max_loans = 0
# df_test.loc[(df_test['Num_of_Loan'] < min_loans),'Num_of_Loan'] = median_num_of_loans

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\3416275286.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Num_of_Loan'].fillna(median_num_of_loans, inplace=True)

In [338]:
#filling null values with median
df_test['Monthly_Inhand_Salary'].fillna(df_test['Monthly_Inhand_Salary'].median(), inplace=True)
df_test['Outstanding_Debt'].fillna(df_test['Outstanding_Debt'].median(), inplace=True)
df_test['Annual_Income'].fillna(df_test['Annual_Income'].median(), inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\1714238583.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Monthly_Inhand_Salary'].fillna(df_test['Monthly_Inhand_Salary'].median(), inplace=True)
C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\1714238583.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Outstanding_Debt'].fillna(df_test['Outstanding_Debt'].median(), inplace=True)
C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\1714238583.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Annual_Income'].fillna(df_test['Annual_Income'].median(), inplace=True)

In [339]:
df_test['Num_of_Delayed_Payment'] = df_test['Num_of_Delayed_Payment'].replace('<NA>', pd.NA)
df_test['Num_of_Delayed_Payment'] = pd.to_numeric(df_test['Num_of_Delayed_Payment'], errors='coerce')

median_num_of_delayed_payments = df_test['Num_of_Delayed_Payment'].median()
df_test['Num_of_Delayed_Payment'].fillna(median_num_of_delayed_payments, inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\2800804699.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Num_of_Delayed_Payment'].fillna(median_num_of_delayed_payments, inplace=True)

In [340]:
df_test['Changed_Credit_Limit'].fillna(df_test['Changed_Credit_Limit'].mean(), inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\92080910.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Changed_Credit_Limit'].fillna(df_test['Changed_Credit_Limit'].mean(), inplace=True)

In [341]:
df_test['Credit_History_Age'] = df_test['Credit_History_Age'].apply(age_to_months)

In [342]:
df_test['Credit_History_Age'].fillna(df_test['Credit_History_Age'].mean(), inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\305422806.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Credit_History_Age'].fillna(df_test['Credit_History_Age'].mean(), inplace=True)

In [343]:
df_test['Amount_invested_monthly'].unique()

array([236.64268203,  21.46538026, 148.23393789, ..., 181.44299903,
        97.59857973, 220.45787812])

In [344]:
df_test['Amount_invested_monthly'].fillna(df_test['Amount_invested_monthly'].mean(), inplace=True)

C:\Users\Smriti\AppData\Local\Temp\ipykernel_3212\4214491595.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Amount_invested_monthly'].fillna(df_test['Amount_invested_monthly'].mean(), inplace=True)

### Encoding Data

In [345]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [356]:
df_train['Type_of_Loan']=le.fit_transform(df_train['Type_of_Loan'])
df_train['Credit_Mix']=le.fit_transform(df_train['Credit_Mix'])
df_train['Payment_of_Min_Amount']=le.fit_transform(df_train['Payment_of_Min_Amount'])
df_train['Payment_Behaviour']=le.fit_transform(df_train['Payment_Behaviour'])

df_train['Credit_Score']=le.fit_transform(df_train['Credit_Score'])

In [355]:
df_train['Type_of_Loan'].unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [357]:
df_train

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,3,809.98,26.822620,265.000000,1,49.574949,80.415295,2,312.494089,0
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,3058.569167,3,...,1,809.98,31.944960,221.490394,1,49.574949,118.280222,3,284.629162,0
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,3058.569167,3,...,1,809.98,28.609352,267.000000,1,49.574949,81.699521,4,331.209863,0
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,3058.569167,3,...,1,809.98,31.377862,268.000000,1,49.574949,199.458074,5,223.451310,0
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,1,809.98,24.797347,269.000000,1,49.574949,41.420153,1,341.489231,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,3,502.38,34.663572,378.000000,1,35.104023,60.971333,0,479.866228,1
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,3,502.38,40.565631,379.000000,1,35.104023,54.185950,1,496.651610,1
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,1,502.38,41.255522,380.000000,1,35.104023,24.028477,0,516.809083,1
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,1,502.38,33.638208,381.000000,1,35.104023,251.672582,3,319.164979,2
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,36941.92,3359.415833,4,...,1,502.38,34.192463,382.000000,1,35.104023,167.163865,6,393.673696,1

In [354]:
df_train['Credit_Mix'].unique()

array(['_', 'Good', 'Standard', 'Bad'], dtype=object)